[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.package]
edition = "2021"
license = "BSD-2-Clause"

[workspace.lints.rust]
unsafe_code = "deny"

[workspace.profile.release]
opt-level = "z"
lto = "fat"
codegen-units = 1
panic = "abort"
strip = true
