[package]
name = "crynn-gecko-ffi"
version = "0.0.1"
edition = "2021"

[lib]
crate-type = ["staticlib", "cdylib"]

[dependencies]
libc = "0.2"
anyhow = "1.0"

[build-dependencies]
bindgen = "0.69"
cc = "1.0"
